name: build-dev-jj

on:
  workflow_dispatch:

jobs:
  generate-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code Now Code
        uses: actions/checkout@v4
        with:
          ref: 'main'
      - name: Checkout code back end
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.REPOSITORY_BACK }}
          path: './msaber-back'
          ref: 'prod'
          token: ${{ secrets.PERSON_ACCESS_TOKEN }}
      - name: Upgrade version json
        run: |
          bash update_version.sh ./upgrade/dev.json "DEV_$(date -d '+8 hours' +'%Y%m%d%H%M')"