name: build-dev-jj
on:
  workflow_dispatch:
jobs:
  generate-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: 创建版本号
        id: set_version
        run: |
          echo "DEV_$(date -d '+8 hours' +'%Y%m%d%H%M')" > version_number
          echo "version=$(cat version_number)" >> $GITHUB_ENV
      - name: Checkout code back end
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.REPOSITORY_BACK }}
          path: './msaber-back'
          ref: 'main'
          token: ${{ secrets.PERSON_ACCESS_TOKEN }}
      - name: Upgrade back version json
        run: |
          bash update_version.sh -r ./msaber-back -f ./upgrade/back-dev.json -v "${{ env.version }}"
      - name: Checkout code front end
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.REPOSITORY_FRONT }}
          path: './msaber-front'
          ref: 'main'
          token: ${{ secrets.PERSON_ACCESS_TOKEN }}
      - name: Upgrade front version json
        run: |
          bash update_version.sh -r ./msaber-front -f ./upgrade/front-dev.json -v "${{ env.version }}"